<div class="about-container">
  <div class="left">
    <div class="left-content">
      <h3>Meet the team</h3>
      <h1>We are chilled and a laidback team</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae
        iure ea, repellendus nesciunt omnis atque accusantium repellat harum.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="right-content">
      <img src="../../../assets/imgs/about-3.png" alt="" />
      <img src="../../../assets/imgs/about-1.png" alt="" />
      <img src="../../../assets/imgs/about-2.png" alt="" />
    </div>
  </div>
</div>
