<div id="contact" class="footer-container">
  <div class="content">
    <div class="links">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#products">Our Works</a></li>
        <li><a href="#testimonials">Clients</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="logo">
      <h1>Edie</h1>
      <div class="share-buttons">
        <a href="">
          <fa-icon class="svg" [icon]="faInstagram"></fa-icon>
        </a>
        <a href="">
          <fa-icon class="svg" [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="">
          <fa-icon class="svg" [icon]="faTwitter"></fa-icon>
        </a>
      </div>
    </div>
    <app-form></app-form>
  </div>
  <div class="copyright">
    <p>
      created by
      <a href="https://reniirinyi.vercel.app/home">reniirinyi</a>
      &mdash; devChallenges.io
    </p>
  </div>
</div>
