<div class="home-container" id="home">
  <div class="header">
    <p>Unhappy with your website?</p>
    <h1>We create beautiful and fast web services</h1>
  </div>
  <div class="img-container">
    <img src="../../../assets/imgs/home.png" alt="" />
  </div>
  <div class="contact-container">
    <div class="contact-content">
      <h2>Story, emotion and purpose</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas harum
        libero ipsa quaerat, laudantium reiciendis reprehenderit quod voluptatum
        iste nam exercitationem fuga, facilis quo.
      </p>
      <app-form></app-form>
    </div>
  </div>
</div>
